@model ExerciseViewModel

<div asp-validation-summary="All"></div>
<form asp-route="Edit">
    <input asp-for="Id" type="hidden" />
    <div class="field">
        <label class="label" asp-for="Title">Exercise Title</label>
        <div class="control">
            <input class="input" type="text" asp-for="Title" />
        </div>
    </div>
    <div class="field">
        <label class="label" asp-for="Body">Exercise Body</label>
        <div class="control">
            <input class="input" type="text" asp-for="Body" />
        </div>
    </div>
    <div class="field is-grouped">
        <div class="control">
            <button class="button is-primary">Submit</button>
        </div>
        <div class="control">
            <a asp-controller="Exercises" asp-action="Index" class="button is-light">Cancel</a>
        </div>
    </div>
</form>